.rainItem {
  // ! Моё добавление
  top: 0;
  //================
  position: absolute;
  height: 300px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  animation: animate 5s linear infinite;
}
.rainItem:nth-child(3n + 1) {
  background: linear-gradient(transparent, #0ff);
}
.rainItem:nth-child(3n + 2) {
  background: linear-gradient(transparent, #0f0);
}

.rainItem:nth-child(3n + 3) {
  background: linear-gradient(transparent, #f00);
}

@keyframes animate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}
